/* Selectors */

*{
    box-sizing: border-box;
}


body {
    /* text-align: center;
    margin: 0 auto; */
}

h1 {
    
}

.class {
    text-align: center;
}

/* Layout Styles */

.main-header {
    width: 100%;
    text-align: center;
}

/*Media Queries*/


@media (min-width: 768px) {
    
}